<!DOCTYPE html>
<html>
  <head>
    <title>ScoreApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
    <h1>
        <a href="/">ShootingScore</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </nav>
</header>

    <%= yield %>

<footer>
      <p class="footer_a">
        ShootingScore 2021.
      </p>
    </footer>

  </body>
</html>
